
<h3>
    Bonjour {{ user.getName() }}, merci de confirmer votre adresse e-mail.
</h3>

<p>
   Veuillez confirmer votre adresse e-mail en cliquant sur
    <a href="{{ url('default_confirm_token', {'token': user.getConfirmationToken()}) }}">ce lien</a>
  ou tapez le code dans le formulaire : <b>{{ user.getConfirmationToken() }}</b>
</p>
